body {
    background-color: grey;
}
.heading {
    width: 1366px;
    height: 94px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #2b272729;
    opacity: 1;
    background-color: grey;

}

.child1 {
    width: 350px;
    height: 208px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    padding: 30px;
    color: #00A5EC;
    letter-spacing: 0px;
    text-align: center;
    font: normal normal medium 20px/24px Inter;
    background-color:white;
    margin-left: 500px;
    margin-top: 40px;

}

.icons {
    position: absolute;
    top: 140px;
    left: 718px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #00A5EC 0% 0% no-repeat padding-box;
    opacity: 1;
    color:white;
    font-size: 35px; 
    text-align: center;
    padding-top: 10px;
}
   


.one {
    text-align: center;
    font: normal normal normal 22px/26px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 780px;
    
}
.icons2 {
   text-align: left;
   font: normal normal bold 40px/49px Inter;
   letter-spacing: 0px;
   color: #00A5EC;
   padding-top: 20px;
   
}
.one1 {
    text-align: center;
    font: normal normal normal 22px/26px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    position: absolute;
    margin-top: 8px;
    margin-left: 540px;
    
    

}

.icons1 {
    position: absolute;
    top: 150px;
    left: 410px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #424242 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left:100px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

    
    
    

.container2 {
   width: 400px;
    height: 240px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #67676729;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 520px;


}
.p {
    margin-left: 10px;
    font-weight: bold;
}
input {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #ededed8c;
    border-radius: 4px;
    opacity: 1;
    width: 90%;
    margin:10px;
}
button {
    background: #00A5EC 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: white;
    width:25%;
    margin-left: 280px;
    margin-top: 50px;
    padding: 5px;
}
.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background: #858585 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 350px;
    margin-top: 15px;
    color: white;
    text-align: center;
}
